<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Welcome to Our Service' }) %>


<body>
  <div class="container">
    <div class="header">
      <h1>Welcome to Our Service, <%= name %>!</h1>
    </div>
    <div class="content">
      <p>Dear <strong><%= name %>,</strong></p>
      <p>Thank you for joining our service. We are thrilled to have you on board. Our goal is to provide you with the best possible experience, and we are here to help you with anything you need.</p>
      <p>Feel free to explore and make the most out of our service. If you have any questions or need assistance, do not hesitate to contact us.</p>
      <p>Best regards,</p>
      <p>Technical Abhi</p>
    </div>
    <%- include('../partials/footer') %>
  </div>
</body>

</html>